<!DOCTYPE html>
<head>
    <style>
      body{ background-color: aquamarine;text-align: center}
      h1{font-size: 50px; font-family: 'verdana'; color: blue; text-align: center}
      p{ font-size: 20px; font-family: 'fantasy'; color: blueviolet; text-align: center}
    </style>

</head>

<body>

    <h1>RESET PASSWORD</h1>

    <form id = "reset-pswrd" method="POST" action="/reset-pswrd">
        <div>
            <label for="password"> Password: </label>
            <input id="password" type="password" name="password">
        </div><br>
        <input type="hidden" name="token" value="{{token}}">

        <input type="submit" id="btnSubmit" value="update">

    </form>
</body>